@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model Dictionary<Recipes,List<string>>
@{
    ViewData["Title"] = "Rezepte";
    ViewData["Description"] = "Entdecken Sie köstliche Rezepte für feine Delikatessen auf Delikatessen-Drehbuch.com. Unsere Sammlung von exquisiten Gerichten bietet Inspiration für jeden Anlass – von raffinierten Vorspeisen bis zu verlockenden Desserts. Perfekt für Feinschmecker und Hobbyköche.";

}

<meta name="description" content="Entdecke köstliche und einfache Rezepte für jeden Anlass. Von schnellen Gerichten bis zu raffinierten Menüs – unsere Sammlung bietet Inspiration für Hobbyköche und Genießer. Finde Schritt-für-Schritt-Anleitungen, Kochtricks und leckere Ideen für dein nächstes Lieblingsgericht.">
<link rel="canonical" href="https://www.delikatessen-drehbuch.com" />
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<meta name="robots" content="index,follow" />

<script type="application/ld+json">
        {
            "@@context": "https://schema.org",
            "@@type": "ItemList",
            "itemListElement": [
    @{
        int position = 1;
        foreach (var recipe in Model.Keys)
        {
           @:{
                @: "@@type": "ListItem",
                @: "position": @position,
                @:  "url": "https://www.delikatessen-drehbuch.com/SelectedRecipe/Index/@(recipe.Id)"
           @:}

            
            if (position < Model.Keys.Count)
            {
                @:,
                position++;
            }
            

        }


    }

        ]
    }
</script>




@{
    if (Model.Count == 0)
    {
        <h1  style="margin-top:30%;width:100%;display:flex;justify-content:center;">Kein Rezept gefunden.</h1>

    }
}

<div class="minWidth100 flex flexJustifyContendCenter">
   
    <div class="grid-Container maxWidth80 mobieleWidth90 ">

        @{
           
            foreach (var recipe in Model)
            {
                <div class="grid-Recipes grid-Item">
                    <a class=" grid-atag text-black" asp-route-id="@recipe.Key.Id" asp-controller="SelectedRecipe" asp-action="Index" style="text-decoration:none;">

                        @if (!string.IsNullOrEmpty(recipe.Key.ImagePath))
                        {
                            if(recipe.Key.Description!=null)
                            {
                                <img class="grid-Image" alt="@recipe.Key.Description" title="@recipe.Key.Name" src="@recipe.Key.ImagePath" loading="lazy" style="max-width:100%" />

                            }
                            else
                            {
                                <img class="grid-Image" alt="@recipe.Key.Name" title="@recipe.Key.Name" src="@recipe.Key.ImagePath" loading="lazy" style="max-width:100%" />

                            }
                        }
                        else
                        {
                            <img class="grid-Image" src="https://cdn.pixabay.com/photo/2020/04/22/18/22/excuse-me-5079442_640.jpg" loading="lazy" />

                        }


                    </a>

                    <hr class="grid-hr" style="margin:1px;opacity:1;border:0;" />
                    @if (recipe.Key.LikeCount > 1)
                    {
                        <div class="grid-Category"> Gefällt @recipe.Key.LikeCount Benutzer</div>

                    }
                    else
                    {
                        <div class="grid-Category">@recipe.Key.Category</div>

                    }

                    @if (recipe.Key.PreparationTime != null)
                    {
                        <div class="grid-LikeCount">@recipe.Key.PreparationTime min.<br /> Zubereitungszeit</div>

                    }

                    <h5 class="grid-Title" style="text-align:center;grid-column:1/span 2;">@recipe.Key.Name</h5>


                    @{
                        if (@recipe.Value.Contains("Vegan"))
                        {
                            <div class="grid-DeleteButton" style="color:green">Vegan</div>

                        }
                        if (@recipe.Value.Contains("Vegetarisch") && !@recipe.Value.Contains("Vegan") && !@recipe.Value.Contains("Fleisch"))
                        {
                            <div class="grid-DeleteButton" style="color:yellow">Vegetarisch</div>
                        }
                        if (@recipe.Value.Contains("Fleisch") && !@recipe.Value.Contains("Vegan") && !@recipe.Value.Contains("Vegetarisch"))
                        {
                            <div class="grid-DeleteButton" style="color:red">Fleisch</div>
                        }
                        if (!@recipe.Value.Contains("Fleisch") && !@recipe.Value.Contains("Vegan") && !@recipe.Value.Contains("Vegetarisch"))
                        {
                            <div class="grid-DeleteButton">@recipe.Value.First()</div>
                        }
                    }



                </div>



            }
        }

    </div>
</div>











