@model FullRecipes
@{
    ViewData["Title"] = "Neues Rezept";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="flexColumn minWidth100 flexAlginItemCenter">



    <form class="flex flexColumn minWidth80 maxWidth80 mobieleWidth90" asp-controller="NewRecipes" asp-action="AddNewRecipes">

        <input name="__RequestVerificationToken" type="hidden" value="@Html.AntiForgeryToken().ToString()" />
        <input asp-for="Recipes.Id" name="Id" hidden />
        <input id="Catergory" asp-for="Recipes.Category" name="Category" hidden />

        <div class="flexRow flexAuto flexWrap mobieleWidth90 flexJustifyContendSpaceBetween">

            <input asp-for="Recipes.Name" class="grid-Title mobileMarginBottom " name="Name" placeholder="Name des Rezeptes" style="min-height:37px" />


            @{

                if (Model.Recipes.Id != 0)
                {
                    <button id="CategoryDropdown" class="btn bgRed dropdown-toggle max-Widthcontent mobileMarginBottom" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#FFFDD0;">
                        @Model.Recipes.Category
                    </button>
                }
                else
                {
                    <button name="test" id="CategoryDropdown" class="btn bgRed dropdown-toggle max-Widthcontent mobileMarginBottom" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#FFFDD0;">
                        Kategorie
                    </button>
                }
            }



            <ul class="dropdown-menu">
                <li><a class="dropdown-item" onclick="GetThisTextToCategoryInput(this)" href="#">Vorspeise</a></li>
                <li><a class="dropdown-item" onclick="GetThisTextToCategoryInput(this)" href="#">Hauptspeise</a></li>
                <li><a class="dropdown-item" onclick="GetThisTextToCategoryInput(this)" href="#">Dessert</a></li>
                <li><a class="dropdown-item" onclick="GetThisTextToCategoryInput(this)" href="#">Snack</a></li>
                <li><a class="dropdown-item" onclick="GetThisTextToCategoryInput(this)" href="#">Sauce</a></li>
                <li><a class="dropdown-item" onclick="GetThisTextToCategoryInput(this)" href="#">Beilagen</a></li>
            </ul>
        </div>
        <div class="flexRow mt-1 mb-1 minWidth100">
            <div class="accordion minWidth100" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Suchwörter auswählen
                        </button>
                    </h2>

                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body ">

                            <div id="Query" class="form-check" style="margin-left:7px;">
                                @{
                                    foreach (var queryString in Model.Querys)
                                    {

                                        if (Model.QueryHandler == null || !Model.QueryHandler.Any())
                                        {
                                            <div class="form-check" style="margin-left:7px;">
                                                <input class="form-check-input" name="@queryString.Query" type="checkbox" value="@queryString.Query">
                                                <label class="form-check-label">
                                                    @queryString.Query
                                                </label>
                                            </div>

                                        }
                                        else
                                        {
                                            
                                            if (Model.QueryHandler.Contains(queryString.Query.ToString()))
                                            {
                                                <div class="form-check" style="margin-left:7px;">
                                                    <input class="form-check-input" name="@queryString.Query" type="checkbox" value="@queryString.Query" checked>
                                                    <label class="form-check-label">
                                                        @queryString.Query
                                                    </label>
                                                </div>
                                            }
                                            else
                                            {

                                                <div class="form-check" style="margin-left:7px;">
                                                    <input class="form-check-input" name="@queryString.Query" type="checkbox" value="@queryString.Query">
                                                    <label class="form-check-label">
                                                        @queryString.Query
                                                    </label>
                                                </div>
                                            }


                                        }

                                    }
                                }
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="flexRow">
            <span class="flex flexAlginItemCenter">Zutat Hinzufügen</span>

            <div class="flex max-Widthcontent" style="margin-left:auto;">

                <a class="btn" typeof="button" asp-controller="NewRecipes" asp-action="BlankSentence" type="button" id="addItem">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </a>


            </div>

        </div>



        <div class="flexRow flexJustifyContendCenter minWidth100" id="container">

            <div class="flexColumn maxWidth100" id="editorRows" style="max-width:800px">

                @{
                    foreach (var item in Model.IngredientHandler)
                    {

                        <div id="@item.Id" name="MyDiv">@Model.Recipes.Id</div>

                    }


                }

            </div>


        </div>


        <textarea asp-for="Recipes.Preparation" class="mt-1 grid-Preparation " name="Preparation" placeholder="Zubereitung" style="width:100%;height:250px"></textarea>



        <div class="grid-Image">
            <label class="form-label">Foto Hochladen</label>
            <input asp-for="Recipes.FormFile" id="form" name="Recipes.FormFile" class="form-control-file" type="file">
        </div>

        <button id="submit" class="btn bgRed grid-Button max-Widthcontent mt-2" typeof="button" style="margin-left:auto; color:#FFFDD0">Speichern</button>

    </form>




</div>






@section Scripts {
    <script>





        $("#submit").click(function (e) {
            e.preventDefault();
            var formData = new FormData();
            formData.append("__RequestVerificationToken", $('input[name="__RequestVerificationToken"]').val());

            $("input[name='Id']").each(function () {
                var Id = $(this).val();
                formData.set("Recipes.Id", Id);
            });

            $("input[name='Category']").each(function () {
                var Category = $(this).val();
                formData.set("Recipes.Category", Category);
            });

            $("input[name='Name']").each(function () {
                var Name = $(this).val();
                formData.set("Recipes.Name", Name);
            });



            $("textarea[name='Preparation']").each(function () {
                var Preparation = $(this).val();
                formData.set("Recipes.Preparation", Preparation);
            });

            var container = document.getElementById('Query');
            var inputs = container.getElementsByTagName('input');

            for (var i = 0; i < inputs.length; i++) {

                var check = inputs[i].checked;
                var queryString = inputs[i].value;
                if (check) {
                    formData.append("QueryHandler", queryString);
                }
            }



            $("input[name='Quantity']").each(function (i) {
                var input = $(this).val();
                var Quantity = input.replace('.', ',');
                formData.append("IngredientHandler[" + i + "].Quantity.Quantitys", Quantity);
            });

            $("div[name='Measure']").each(function (i) {

                var Measure = (this).textContent;
                formData.append("IngredientHandler[" + i + "].Measure.UnitOfMeasurement", Measure);
            });

            $("input[name='Ingredient']").each(function (i) {
                var Ingredient = $(this).val();
                formData.append("IngredientHandler[" + i + "].Ingredient.Name", Ingredient);
            });

            $("input[name='Recipes.FormFile']").each(function (i) {

                var fileData = $('#form')[0];
                formData.append("Recipes.FormFile", fileData.files[0]);
            });
            
            // for (var pair of formData.entries()) {
            //     console.log(pair[0] + ', '+pair[1]);
            // }


            $.ajax({
               
                method: 'post',
                url: "/NewRecipes/AddOrEditRecipes",
                data: formData,
               
                processData: false,
                contentType: false,
                success: function (data) {

                    
                    window.location.href = data.redirect;

                }
            });

        });

        function GetThisTextToCategoryInput(text) {
            var text = text.textContent;
            var dropdown = document.getElementById('CategoryDropdown');
            dropdown.textContent = text;
            $('#Catergory').val(text);

        }

        $("Div[name='MyDiv']").each(function () {
            var id = (this).id;
            $(this).load("/NewRecipes/EditRecipesPartialView?id=" + id);
        });

        $("#addItem").click(function () {

            $.ajax({
                url: this.href,
                cache: false,
                success: function (html) {
                    $("#editorRows").append(html);

                }

            });
            return false;
        });



        var div;
        function GetElement(element) {

            div = element;
        }

        function GetText(text) {

            div.textContent = text;

        }


        function DeleteRow(html) {

            var first = html.parentNode;
            var second = first.parentNode.remove();


        }




    </script>




}



