@model List<Recipes>


<table id="Datatable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>

            <th>Aktion</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var recipe in Model)
        {

            <tr>
                <td>@recipe.Id</td>
                <td>@recipe.Name</td>

                <td>
                    <button onclick="AddRecipes(@recipe.Id,'@recipe.Name')" data-name="@recipe.Name.ToString()" type="button" class="bgRed Border-Gold" style="color:white;">
                        Add
                    </button>
                </td>

            </tr>


        }
    </tbody>



</table>

<script>

    if (!$.fn.DataTable.isDataTable('#Datatable')) {
        let table = new DataTable('#Datatable');
    }

    function AddRecipes(id,name) {

        var code = $('#setValue').val();
        var buttonToChange = $('#setName').val();
        $('#' + code).val(id); 
        $('#' + buttonToChange).text(name);
        $('#selectRecipeModal').modal('hide');

    }

</script>