@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model FullRecipes

<div class="w100 flex acenter flexColumn">
    <div class="w50 flex flexColumn jcenter acenter bgblue">
        <h1 class="mt-3">@Model.Recipes.Name</h1>
        <hr class="w80" style="min-width:80%" />
        <img class="mb-3" src="@Model.Recipes.ImagePath" style="max-height:40vh" />
        <div class="w100 flex flexColumn acenter" style="min-width:100%">
            <div class="w80 flexRow jspaceBetween mb-5" style="min-width:80%">
                <p class="flex acenter m-0">Dieses Rezept gefällt @Model.Recipes.LikeCount Personen.</p>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-controller="SelectedRecipe" asp-action="AddOrRemoveLike" asp-route-id="@Model.Recipes.Id" class="btn btn-primary" typeof="Button" title="Like Button" style="align-self:end">
                        @{
                            Like like = Model.Likes.SingleOrDefault(x => x.UserMail == User.Identity.Name && x.Recipe == Model.Recipes);
                            if (like != null)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                            }
                            else
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                </svg>
                            }
                        }

                    </a>
                }

            </div>
            <table class="w80 mb-5" style="min-width:80%">

                @{
                    foreach (var ingredient in Model.IngredientHandler)
                    {
                        <tr class="w100">
                            <td class="w25">@ingredient.Quantity.Quantitys</td>
                            <td class="w25">@ingredient.Measure.UnitOfMeasurement</td>
                            <td class="w50">@ingredient.Ingredient.Name</td>
                        </tr>
                    }
                }

            </table>
            <p class="w80">@Model.Recipes.Preparation</p>
        </div>
        <div class="w100 flex jend">

            @{
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-route-id="@Model.Recipes.Id" asp-controller="Recession" asp-action="Index" typeof="Button" title="Rating Button" class="btn btn-primary m-4">Bewerten</a>
                }
                else
                {
                    <Button type="Button" href="#" title="Rating Button" class="btn btn-primary m-4" disabled>Zum Bewerten Einloggen</Button>

                }




            }
        </div>
    </div>
    <div>

        @{
            foreach (var recessionFromDb in Model.Recession)
            {
                <div class="card">
                    <div class="card-header">
                        @recessionFromDb.UserEmail
                    </div>
                    <div class="card-body">
                        @recessionFromDb.Assessment
                    </div>
                </div>
            }
        }

    </div>
</div>



